body {
  background-color: #CDCDCD;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.bodyWrapper {
  margin: 55px;
  height: calc(100% - 60px - 110px);
}

.displayArea {
  height: calc(100% - 54px);
  padding:  27px;
  background-color: white;
  border-radius: 15px;
}

#root, .App {
  height: 100%;
}